{% extends 'base.html.twig' %}

{% block title %}Liste de courses{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/header.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/shopping.css') }}" />
{% endblock %}

{% block body %}
    <header class="bg-dark">
        <nav class="row m-0 d-flex align-items-center">
            <a class="col-2" href="{{ path('home') }}">
                <img src="../images/re7-logo.png" alt="logo" />
            </a>
            <div class="col-7 align-items-center desktopNav">
                {# Desktop nav #}
                <ul class="d-flex justify-content-between w-100">
                    <li>
                        <a href="{{ path('home') }}" class="text-decoration-none text-white fs-4 fw-bold">Liste des recettes</a>
                    </li>
                    <li>
                        <a href="{{ path('add_recipe') }}" class="text-decoration-none text-white fs-4 fw-bold">Créer une recette</a>
                    </li>
                    <li>
                        <a href="{{ path('planning') }}" class="text-decoration-none text-white fs-4 fw-bold">Planning</a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none text-warning fs-4 fw-bold">Liste de courses</a>
                    </li>
                    <li>
                        <a href="{{ path('foods') }}" class="text-decoration-none text-white fs-4 fw-bold">Aliments</a>
                    </li>
                </ul>
            </div>
            <div class="col justify-content-end align-items-center burgerCol">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list text-warning" id="burgerBtn" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
                <div id="mobileNav" class="bg-dark">
                    <div class="d-flex justify-content-end px-2">
                        <span class="text-warning fs-1 fw-bold" id="closeBtn">X</span>
                    </div>
                    <ul class="d-flex flex-column align-items-center justify-content-between mobileUl">
                        {# Mobile nav #}
                        <li>
                            <a href="{{ path('home') }}" class="text-decoration-none text-white fs-4 fw-bold">Liste des recettes</a>
                        </li>
                        <li>
                            <a href="{{ path('add_recipe') }}" class="text-decoration-none text-white fs-4 fw-bold">Créer une recette</a>
                        </li>
                        <li>
                            <a href="{{ path('planning') }}" class="text-decoration-none text-white fs-4 fw-bold">Planning</a>
                        </li>
                        <li>
                            <a href="#" class="text-decoration-none text-warning fs-4 fw-bold">Liste de courses</a>
                        </li>
                        <li>
                            <a href="{{ path('foods') }}" class="text-decoration-none text-white fs-4 fw-bold">Aliments</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section id="shoppingSection" class="row d-flex justify-content-center mt-5">

            <div class="d-flex justify-content-center mb-5" id="selectContainer">
                <select id="planningSelect">
                    {% for owner in owners %}
                        <option value="{{ owner['owner'] }}" {{ owner['owner'] == planningOwner ? 'selected' : null }}>
                            {{ owner['owner'] }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="row mb-3 border-bottom border-warning pb-3">
                <div class="col-3 text-warning d-flex justify-content-center">Rayon</div>
                <div class="col-3 text-warning d-flex justify-content-center">Aliment</div>
                <div class="col-3 text-warning d-flex justify-content-center">Quantité</div>
                <div class="col-3 text-warning d-flex justify-content-center">Unité</div>
            </div>
            {% if shoppingRows|length > 0 %}
                {% for food in shoppingRows %}
                    <div class="row">
                        <div class="col-3 d-flex justify-content-center">
                            {{ food.section.name }}
                        </div>
                        <div class="col-3 d-flex justify-content-center">
                            {{ food.food.name }}
                        </div>
                        <div class="col-3 d-flex justify-content-center">
                            {{ food.quantity }}
                        </div>
                        <div class="col-3 d-flex justify-content-center">
                            {{ food.unit }}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center">Aucun repas planifié..</p> 
            {% endif %}
        </section>
        <p class="text-center mt-5">
            <a href="{{ path('generate_pdf', { 'planningOwner' : planningOwner }) }}" class="btn btn-sm btn-warning">Générer un PDF</a>
        </p>
    </main>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/header.js') }}"></script>
	<script src="{{ asset('js/shopping.js') }}"></script>
{% endblock %}
