{% extends 'base.html.twig' %}

{% block title %}Liste de courses PDF{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<style>
		table {
			text-align: center;
		}
	</style>
{% endblock %}

{% block body %}
    <main>
		<table>
			<thead>
				<tr>
					<th>Rayon</th>
					<th>Aliment</th>
					<th>Quantité</th>
				</tr>
			</thead>
			<tbody>
				{% if shoppingRows|length > 0 %}
					{% for row in shoppingRows %}
						<tr>
							<td class="d-flex justify-content-center">
								{{ row.section.name }}
							</td>
							<td class="d-flex justify-content-center">
								{{ row.food.name }}
							</td>
							<td class="d-flex justify-content-center">
								{{ row.quantity }} {{ row.unit }}
							</td>
						</tr>
					{% endfor %}
				{% else %}
					<p class="text-center">Aucun repas planifié..</p> 
				{% endif %}
			</tobdy>
		</table>
    </main>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
