{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/header.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/planning.css') }}" />
{% endblock %}

{% block body %}
    <header class="bg-dark">
        <nav class="row m-0 d-flex align-items-center">
            <a class="col-2" href="{{ path('home') }}">
                <img src="../images/re7-logo.png" alt="logo" />
            </a>
            <div class="col-7 align-items-center desktopNav">
                {# Desktop nav #}
                <ul class="d-flex justify-content-between w-100">
                    <li>
                        <a href="{{ path('home') }}" class="text-decoration-none text-white fs-4 fw-bold">Liste des recettes</a>
                    </li>
                    <li>
                        <a href="{{ path('add_recipe') }}" class="text-decoration-none text-white fs-4 fw-bold">Créer une recette</a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none text-warning fs-4 fw-bold">Planning</a>
                    </li>
                    <li>
                        <a href="{{ path('shopping') }}" class="text-decoration-none text-white fs-4 fw-bold">Liste de courses</a>
                    </li>
                    <li>
                        <a href="{{ path('foods') }}" class="text-decoration-none text-white fs-4 fw-bold">Aliments</a>
                    </li>
                </ul>
            </div>
            <div class="col justify-content-end align-items-center burgerCol">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list text-warning" id="burgerBtn" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
                <div id="mobileNav" class="bg-dark">
                    <div class="d-flex justify-content-end px-2">
                        <span class="text-warning fs-1 fw-bold" id="closeBtn">X</span>
                    </div>
                    <ul class="d-flex flex-column align-items-center justify-content-between mobileUl">
                        {# Mobile nav #}
                        <li>
                            <a href="{{ path('home') }}" class="text-decoration-none text-white fs-4 fw-bold">Liste des recettes</a>
                        </li>
                        <li>
                            <a href="{{ path('add_recipe') }}" class="text-decoration-none text-white fs-4 fw-bold">Créer une recette</a>
                        </li>
                        <li>
                            <a href="#" class="text-decoration-none text-warning fs-4 fw-bold">Planning</a>
                        </li>
                        <li>
                            <a href="{{ path('shopping') }}" class="text-decoration-none text-white fs-4 fw-bold">Liste de courses</a>
                        </li>
                        <li>
                            <a href="{{ path('foods') }}" class="text-decoration-none text-white fs-4 fw-bold">Aliments</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section id="planningSection">

            <div class="row d-flex justify-content-evenly">
                <div class="col-4 d-flex flex-column align-items-center">
                    <div class="d-flex justify-content-center" id="selectContainer">
                        <select id="planningSelect">
                            {% for owner in owners %}
                                <option value="{{ owner['owner'] }}" {{ owner['owner'] == planningOwner ? 'selected' : null }}>
                                    {{ owner['owner'] }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <p class="text-center mt-5" id="createPlanningText">
                        Pas de planning ?
                        <a href="{{ path('create_planning') }}" class="text-primary">
                            Créez le votre
                        </a>
                    </p>
                </div>
                <div class="col-4 d-flex flex-column align-items-center">
                    <p class="text-danger">Supprimer un planning</p>
                    <form method="post">
                        <select id="deletePlanningOf" name="deletePlanningOf" class="mb-3">
                            {% for owner in owners %}
                                <option value="{{ owner['owner'] }}">{{ owner['owner'] }}</option>
                            {% endfor %}
                        </select>
                        <p class="text-center">
                            <button type="submit" class="btn btn-outline-danger btn-sm" onclick="return confirm('Êtes-vous sûre de vouloir supprimer ce planning ?')">OK</button>
                        </p>
                    </form>
                </div>
            </div>

            <div class="row mb-3 border-bottom border-warning">
                <div class="col-3"></div>
                <div class="col-4 d-flex justify-content-center text-warning pb-3 fw-bold whenName">
                    Midi
                </div>
                <div class="col-4 d-flex justify-content-center text-warning pb-3 fw-bold whenName">
                    Soir
                </div>
            </div>
            <div id="planningContainer">
                {% include "planning/_planning.html.twig" %}
            </div>
        </section>
        
    </main>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/header.js') }}"></script>
	<script src="{{ asset('js/planning.js') }}"></script>
{% endblock %}
