{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/header.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/planning.css') }}" />
{% endblock %}

{% block body %}
    <header class="bg-dark">
        <nav class="row m-0 d-flex align-items-center">
            <a class="col-2" href="{{ path('home') }}">
                <img src="images/re7-logo.png" alt="logo" />
            </a>
            <div class="col-7 align-items-center desktopNav">
                {# Desktop nav #}
                <ul class="d-flex justify-content-between w-100">
                    <li>
                        <a href="{{ path('home') }}" class="text-decoration-none text-warning fs-4 fw-bold">Recettes</a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none text-warning fs-4 fw-bold">Planning</a>
                    </li>
                    <li>
                        <a href="{{ path('shopping') }}" class="text-decoration-none text-white fs-4 fw-bold">Liste de courses</a>
                    </li>
                    <li>
                        <a href="{{ path('foods') }}" class="text-decoration-none text-warning fs-4 fw-bold">Aliments</a>
                    </li>
                </ul>
            </div>
            <div class="col justify-content-end align-items-center burgerCol">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list text-warning" id="burgerBtn" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
                <div id="mobileNav" class="bg-dark">
                    <div class="d-flex justify-content-end px-2">
                        <span class="text-warning fs-1 fw-bold" id="closeBtn">X</span>
                    </div>
                    <ul class="d-flex flex-column align-items-center justify-content-between mobileUl">
                        {# Mobile nav #}
                        <li>
                            <a href="{{ path('home') }}" class="text-decoration-none text-warning fs-4 fw-bold">Recettes</a>
                        </li>
                        <li>
                            <a href="#" class="text-decoration-none text-white fs-4 fw-bold">Planning</a>
                        </li>
                        <li>
                            <a href="{{ path('shopping') }}" class="text-decoration-none text-warning fs-4 fw-bold">Liste de courses</a>
                        </li>
                        <li>
                            <a href="{{ path('foods') }}" class="text-decoration-none text-warning fs-4 fw-bold">Aliments</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h1 class="text-center mt-3 mb-4">Planning</h1>
        <section class="planningSection">
            <div class="row mb-3 border-bottom border-warning">
                <div class="col-3"></div>
                <div class="col-4 d-flex justify-content-center text-warning pb-3 fw-bold fs-6">
                    Midi
                </div>
                <div class="col-4 d-flex justify-content-center text-warning pb-3 fw-bold fs-6">
                    Soir
                </div>
            </div>
            {% for day in days %}
                <div class="dayContainer row mb-4 border-bottom border-warning pb-3">
                    <div class="col-3 text-warning dayName">
                        {{ day.name }}
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center recipeName">
                        {{ day.middayRecipe.name ?? '-' }}
                        {% if day.middayRecipe.name is defined %}
                            <a href="{{ path('delete_recipe_in_planning', { 'day' : day.name, 'when' : 'midi' }) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-x-circle-fill text-danger deleteRecipeBtn" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                </svg>
                            </a>
                        {% endif %}
                    </div>
                    <div class="col-4 d-flex justify-content-center align-items-center recipeName">
                        {{ day.eveningRecipe.name ?? '-' }}
                        {% if day.eveningRecipe.name is defined %}
                        <a href="{{ path('delete_recipe_in_planning', { 'day' : day.name, 'when' : 'soir' }) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-x-circle-fill text-danger deleteRecipeBtn" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                            </svg>
                        </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/header.js') }}"></script>
{% endblock %}
